<div style="font-family: Arial, sans-serif;">
    <h2>Request for Supplies</h2>

    <p>Dear Agency,</p>

    <p>We want to inform you that a user has sent a request to provide supplies for composting. Here are the details:</p>

    <ul>
    <li><strong>Name:</strong> <%= donor.name %><li>
    <li><strong>Email:</strong> <%= donor.email %><li>
    <li><strong>Username:</strong> <%= donor.username %><li>
    <li><strong>Contact:</strong> <%= donor.contact %><li>
    </ul>

    <p>The user has requested to provide <%= data.quantity %> kg of supplies to be used for composting.</p>

    <p>Please review the request and take appropriate action.</p>

    <p>Thank you.</p>
</div>